@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 186.08deg 91.86% 33.73%; /* #0494a4 in HSL */
    --primary-foreground: 210 20% 98%;
    --secondary: 187 96% 90%; /* Lighter version of primary */
    --secondary-foreground: 187 96% 35.9%;
    --muted: 187 96% 90%;
    --muted-foreground: 187 80% 46%;
    --accent: 187 96% 90%;
    --accent-foreground: 187 96% 35.9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 187 96% 80%;
    --input: 187 96% 80%;
    --ring: 187 96% 35.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 187 96% 35.9%;
    --secondary: 187 80% 30%; /* Darker version of primary */
    --secondary-foreground: 210 20% 98%;
    --muted: 187 80% 30%;
    --muted-foreground: 187 40% 64%;
    --accent: 187 80% 30%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 187 80% 30%;
    --input: 187 80% 30%;
    --ring: 187 96% 80%;
  }
}
